doctype html
html
  head
    title Fallout Emulator
    link(href="./style.scss",rel="stylesheet")
  body
    #screen
      #spans
        .spans
        .spans
      #history
        #feed
        #cursor
    script(src="./script.js")
